<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DistributedTestSuite" verbose="1">
    <test name="ConfigurationTests">
        <classes>

            <!--<class name="org.wso2.carbon.automation.distributed.tests.KubernetesServiceOperationsTestCase"/>-->
        </classes>
    </test>
</suite>
