<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Automation Context Unit test suite">
    <parameter name="useDefaultListeners" value="true"/>

    <test name="Automation Engine Unit tests" preserve-order="true" parallel="false">

        <classes>
            <class name="org.wso2.carbon.automation.engine.test.context.AutomationContextTestCase"/>
            <class name="org.wso2.carbon.automation.engine.test.configuration.ConfigurationXSDValidatorTest"/>
        </classes>
    </test>
</suite>
