<suite name="ASTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.core.PlatformExecutionManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformSuiteManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformAnnotationTransferManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformTestManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformReportManager"/>
    </listeners>

    <test name="Platform-test-scenarios" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.automation.platform.scenarios.esb.RestFullApiTestCase"/>
        </classes>
    </test>

</suite>